:root {
  --dark: rgb(25, 26, 25);
  --mid: rgb(32, 36, 32);
  --light: #fefffe;
  --accent: #b0e945;
  --accentlight: #c8f653; 
}
.container {
  max-width: 100%;
}
/* Tailwind Import */
@tailwind base;
@tailwind components;
@tailwind utilities;
@material-tailwind/react;

