@font-face {
    font-family: 'Ravenda';
    src: url('Ravenda.eot');
    src: url('Ravenda.eot?#iefix') format('embedded-opentype'),
        url('Ravenda.woff2') format('woff2'),
        url('Ravenda.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

